{#<!DOCTYPE html>#}
{##}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>About</title>#}
{#     <h1>Rango says...</h1>#}
{#    <div>#}
{#       here is the about page.<br />#}
{#</head>#}
{#<body>#}
{#<div>#}
{#        <a href="/rango/">Index</a><br />#}
{#        <img src="{{ MEDIA_URL }}/cat.jpg"#}
{#             alt="Picture of Cat" />#}
{#    </div>#}
{#</body>#}
{#</html>#}

{% extends 'rango/base.html' %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
     <h1>Rango says...</h1>
     <div>
      here is the about page.<br />
     </div>
    <div>
    <img src="{{ MEDIA_URL }}/cat.jpg" alt="Picture of Cat" />
    </div>
{% endblock %}